@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<HeadContent>
    <link rel="stylesheet" href="~/css/GenerateTest.css" asp-append-version="true" />
    <script src="~/js/GenerateTest.js" asp-append-version="true"></script>
</HeadContent>

<body>
    <div class="body-block">
        <form asp-action="CreateTest" asp-controller="Home" method="post" enctype="multipart/form-data">
            <input type="hidden" id="AllAnswerCount" value="0"></input>
            <div class="some-class">
            <label>Информация о тесте:</label>
            <input type="text" required placeholder="Наименование анкеты" name="TestName"></input>
            </div>
            <textarea placeholder="Описание анкеты" required name="TestDescription"></textarea>
           
            <div class="advansed-options">
                <div class="Visibility-div">
                    <input type="checkbox" value="true" name="isClosed">
                    <label>Сделать анкету закрытой</label>
                    </input>
                    <input type="checkbox" value="true" name="isNeedAuthentification">
                    <label>Скрыть анкету от незарегистрированных пользователей</label>
                    </input>
                </div>
                
                <div class="Country-div">
                    <input type="checkbox" onchange="CountryShow()" id="CountryCheck"><label>Есть ли требования к стране проживания?</label></input>
                    <input type="text" id="CountryInput" style="display:none" name="Country" placeholder="Страна"></input>
                </div>  
                <div class="Town-div">
                    <input type="checkbox" onchange="TownShow()" id="TownCheck"><label>Есть ли требования к городу?</label></input>
                    <input type="text" id="TownInput" style="display:none" name="Town" placeholder="Город"></input>
                </div>
            </div>
            



            <input type="hidden" value="@User.Identity.Name"></input>
            <div>
                <label>Вопросы к анкете:</label>
                <input type="button" value="+" onclick="AddQuestion()"></input>
            </div>
            <input type="hidden" value="1" id="QuestionAmount"></input>
            <div class="TestModule" id="testModule-div">

            </div>

            <input type="submit"></input>
        </form>
    </div>
</body>