@using AppTest.Models.Entities

@{
    Layout = null;
    string[] Users = ViewBag.Users; 
}

<!DOCTYPE html>


<html>
<head>
    <script src="~/js/RagistrationPage.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/RegistrationPage.css" asp-append-version="true" />
</head>

<body>
    
    <div class="Form-Page">
        @{
            string j = $"TryValidate({Json.Serialize(Users)})";
        }
        <form asp-action="CreateNewUser" asp-controller="User" method="post">
            <p style="color:red; display:none;" id="PasswordP">*Пароли не совпадают</p>
            <p style="color:red; display:none;" id="LoginP">*Логин занят</p>
            <div class="loginDiv">
                <input type="text" id="loginField" minlength="3" onchange=@j placeholder="Логин" name="LoginField"  ></input>
                <div height="25px" width="25px" id="ChangeField"></div>
                
            </div>
        <input type="email" placeholder="email" name="EmailField"></input>
            <div class="PasswordDiv">
                <input type="password" required placeholder="Пароль" onchange=@j id="PasswordField" name="PasswordField"></input>
                <input type="button" value="O" id="ButtonChangeVisibility" onclick="ChangePassVisibility()"></input>

            </div>

            <input type="password" id="RepeatPasswordField" onchange=@j required placeholder=" Подтвердите Пароль"></input>
    
      
        <input type="submit" disabled id="submitButton" value="Регистрация"></input>
        </form>
    </div>


</body>
</html>

