.body-block{
    display:flex;
   
    flex-wrap:wrap;
    margin-bottom:30px;
}

.diagram-class{
    display:flex;
    flex-direction:column;
    margin-left:40px;
}

.radio-div {
    width: 300px;
    height: inherit;
    margin-bottom: 50px;
    margin-top:20px;
}
.bar-div {
    width: 300px;
    height: inherit;
    margin-bottom: 50px;
    margin-top: 20px;
}


.input-div{
    width:400px;
    display:flex;flex-direction:column;
}